* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    background-image: url('../CS 222 - Final Requirement Nel Bryan Ido/img/sunset2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    min-height: 100vh;
    position: relative;
    
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1 {
    color: white;
    font-family: 'Denk One';
    font-size: 2rem;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: width 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar ul li a:hover {
    color: orange;
}

h1 {
    text-align: center;
    font-size: 6rem;
    font-family: fantasy;
    color: white;
}

.content {
    width: 100%;
    position: absolute;
    top:  50%;
    transform: translateY(-20%);
    text-align: center;
    color: white;
}
.content-gallery {
    width: 100%;
    position: absolute;
    top:  3%;
    transform: translateY(-20%);
    text-align: center;
    color: white;
}
.content-homies{
    width: 100%;
    position: absolute;
    top:  7%;
    transform: translateY(-20%);
    text-align: center;
    color: white;
}

.content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
}

.content p {
    font-size: 2rem;
}

button {
    width: 200px;
    padding: 10px 0;
    text-align: center;
    margin: 10px 5px;
    border-radius: 30px;
    font-weight: bold;
    border: 2px solid #ffdd80;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button span {
    background: #ffdd80;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

.gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.gallery img {
    width: 100%;
    cursor: pointer;
    border-radius: 50px;
}

.gallery img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 100px;
    box-shadow: 0 32px 75px rgba(68, 72, 136, 0.2);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.parg {
    width: 60%;
    text-align: justify;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.fullImg {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.fullImg img {
    width: 100%;
    max-width: 500px;
}

.fullImg span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.front-main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
}

.front-main-content .card {
    margin-right: 20px;
}

.front-main-content .card img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    display: block;
}

.front-main-content .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
}

.front-main-content .text-container h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-family: cursive;
    margin-bottom: 20px;
}

.front-main-content .text-container p {
    font-size: 1rem;
    margin: 20px 0;
    text-align: justify;
    width: 100%;
    max-width: 600px;
}

.front-main-content .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.style h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
}

.main-content h1 {
    font-size: 5rem;
    margin-bottom: 20px;
    font-family: cursive;
}

.skill img {
    border-radius: 20%;
    width: 100%;
    max-width: 400px;
    border: 3px solid black;
    display: block;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1rem;
    margin: 20px 0;
    text-align: justify;
    width: 100%;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
}
.contact-container {
    text-align: center;
}

.contact {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background: rgb(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.contact h1 {
    color: #fff;
    margin-top: 0;
}
.contact table{
    width: 100%;
    border-collapse: collapse;
}
.contact tr td{
    padding: 10px;
    color: #fff;
    border: 1px solid;
}
.contact tr td:first-child{
    font-weight: bold;
}

.contact a {
    text-decoration: none;
    color: #007bff;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        
    }
    .navbar h1 {
        margin-bottom: 20px;
        text-align: center;
    }
    .navbar ul {
        width: 100%;
        text-align: center;
        padding: 0;
        justify-content: space-around;
    }
    .navbar ul li {
        display: block;
        margin: 20px 0;
    }
    .navbar ul li a {
        display: inline-block;
        font-size: 10px;
    }
    .content h1 {
        font-size: 3rem;
        text-align: center;
    }
    .content-gallery{
        top: 7%;
    }    
    .content-gallery h1{
        font-size: 2rem;
    }
    .content-homies{
        top: 15%;
    }
    .content-homies h1{
        font-size: 3rem;
    }
    .content p {
        text-align: center;
        font-size: 15px;
    }
    button {
        margin: 5px;
    }
    .card img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 3px solid black;
        display: block;
    }
    .container{
        margin-top: -200px;
    }

    .front-main-content {
        flex-direction: column; 
        align-items: center; 
    }
    .front-main-content .card {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .front-main-content .text-container {
        align-items: center;
        text-align: center;
    }
    .front-main-content .text-container h1 {
        font-size: 2rem;
    }
    .front-main-content .text-container p {
        font-size: 10px;
        width: 90%;
    }
    .front-main-content .button-container {
        flex-direction: column;
    }
    .main-content h1{
        font-size: 3rem;
    }
    .contact h1{
        font-size: 2rem;
    }
}
@media (max-width: 900px) and (min-width: 601px){
    .navbar {
        flex-direction: column;
        align-items: center;
        
    }
    .navbar h1 {
        margin-bottom: 10px;
        text-align: center;
    }
    .navbar ul {
        width: 100%;
        text-align: center;
        padding: 0;
        justify-content: space-around;
    }
    .navbar ul li {
        display: block;
        margin: 10px 0;
    }
    .navbar ul li a {
        display: inline-block;
        font-size: 15px;
    }
    .container{
        margin-top: -100px;
    }
}